@using Microsoft.AspNetCore.Http.Connections.Client;
@using Microsoft.AspNetCore.SignalR.Client;

<CascadingValue Value="UpdateHubConnection">
    <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
                    <NotAuthorized>
                        <p>Sie sind nicht authorisiert, auf diese Seite zuzugreifen!</p>
                    </NotAuthorized>
                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>
</CascadingValue>

@code {
    [CascadingParameter]
    public HubConnection? UpdateHubConnection { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var userState = await AuthenticationProvider.GetAuthenticationStateAsync();
        var userIdString = userState.User.Claims.FirstOrDefault(c => c.Type.Contains("nameidentifier"))?.Value ?? string.Empty;

        UpdateHubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.BaseUri + "hubs/update", (options) =>
            {
                options.Transports = Microsoft.AspNetCore.Http.Connections.HttpTransportType.WebSockets;
            })
            .Build();

        await UpdateHubConnection.StartAsync();
        await UpdateHubConnection.SendAsync("RegisterId", userIdString);
    }
}